*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url(../public/images/background.png);
    background-position: center;
    background-size: cover;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
    .navbar{
        height: 12%;
        display: flex;
        align-items: center;
    }
}

.home .navbar img{
    margin: 20px;
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 8%;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.navbar p a{
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bolder;
    color: white;
    text-align: center;
}

.navbar p{
    background-color: #6B9080;
    border-radius: 20px;
    width: 90px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
}

.jumbotron h1{
    padding-top: 150px;
    font-weight: bolder;
    font-size: 80px;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
}

.jumbotron p{
    text-align: center;
    margin-top: 50px;
    color: #fff;
}

body .kotak{
    background-color: #6B9080;
    width: 100%;
    padding: 30px;
}

.row .col .image{
    position: relative;
}

.row .col .image img{
    position: absolute;
    top: 0;
    bottom: 52;
    left: 0;
    right: 0;
    margin: auto;
}

.kotak .row .col img{
    width: 380px;
    height: 300px;
}

.kotak .row .image{
    align-items: center;
}

.kotak .row .col h1{
    color:#fff;
}

.kotak .row .col h5{
    color:#fff;
    padding-top: 15px;
    text-align: justify;
}

.rekomendasi{
    background-color: #F6FFF8;
    padding: 40px;
}

.galery{
    padding: 40px;
    background-color: #6B9080;
}

.rekomendasi h1, .galery h1{
    font-weight: bolder;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px;
}

.rekomendasi h1{
    color: #6B9080;
}

.galery h1{
    color: #F6FFF8;
}

.rekomendasi .card .row .col, .galery .card .row .col{
    align-items: center;
    text-align: center;
    padding: 20px;
}

.rekomendasi .card, .galery .card{
    align-items: center;
}

.rekomendasi .card .row .col .cardd, .galery .card .row .col .cardd{
    background-color: #6B9080;
    width: 310px;
    border-radius: 20px;
    .deskripsi{
        padding: 5px;
    }
}

.services{
    background-color: #F6FFF8;
    padding: 40px;
}

.services h1, .services p{
    color: #6B9080;
    text-align: center;
    letter-spacing: 1px;
}

.services .form{
    background-color: #6B9080;
    padding: 20px;
}

.services .form h2{
    color: #F6FFF8;
    padding: 10px;
}

.form-group{
    padding: 10px;
    .form-control{
        background-color: #F6FFF8;
    }
}

.btn-custom {
    background-color: #F6FFF8;
    color: #6B9080;
}

.submit{
    padding: 10px;
    margin-left: 89.5%;
}

.about{
    background-color: #6B9080;
    padding: 40px;
}

.about h1{
    color: #F6FFF8;
    text-align: center;
    padding: 5px;
}

.about .card .row .col{
    color: #6B9080;
    text-align: center;
    padding: 20px;
}

.about .card .row .col h4{
    padding-top: 15px;
}

.profil{
    border-radius: 50%;
}


