*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}


.navbar{
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F6FFF8;
}
.container-fluid h1{
    color: #085c4a;
    font-size: 41px;
    padding-top: 10px;
    padding-right: 60%;
}
.logo{
    padding-left: 3%;
    padding-top: 10px ;
    
}

.row{
    margin-top: 5%;
   
   
}

.col-md-2{
    background-color: #CCE3DE;
    margin-top: 2px;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 50px;
}

.nav{
    margin-left: 20px;
}

.nav-link{
    color: #6B9080;
    
}
.nav-link a :hover{
    color: #CCE3DE;
}
.fas{
    padding-right: 20px;
    color: #6B9080;
}
.far{
    padding-right: 20px;
    color: #6B9080;
}
.col-md-10{
    background-color: rgb(221, 239, 237);
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 29%;
}
.col-md-10 h3{
    color: #6B9080;

}
.navbar .container-fluid a{
    text-align: left;
}

.custom-card{
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 25px;
    border-top: 10px solid #6B9080;
    border-right: 10px solid #6B9080;
   
}
.card{
    margin-left: 20px;
}
.card-title{
    color: #6B9080;
}
.display-5{
    color: #085c4a;
}
.table{
    border: #085c4a;
}
.table th{
    background-color: #99bfaf;
    color: #F6FFF8;
    text-align: center;
}
   

footer{
    background-color: #6B9080;
    color: #F6FFF8;
    text-align: center;
    height: 60px;
    padding-top: 20px;
}

